h1{
    margin: auto;
    font-family: cursive;
    text-align: center;
    width: 20%;
  }
  h2{
    margin: auto;
    font-family: cursive;
    text-align: center;
    width: 20%;

  }
  .line-left {
    height: 1px;
    width: auto;
    background-color: black;
  }
  
  h3{
    font-family: cursive;
    width: 20%;
  }
  p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .line-new{
    height: 1px;
    width: auto;
    background-color: black;
  }